<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
   <link rel="stylesheet" href="static/style_login.css">
</head>
<body>
<header class="base">    <div class="knopka1">Login page: <a href="/login">Home</a></div>
    <div class="knopka1">Task page: <a href="/task1_page">Task 1</a></div>
    <div class="knopka1">Profile: <a href="/person">Profile</a></div></header>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>